# .streamlit/secrets.toml
# RENAME this file to 'secrets.toml' and fill in your details when deploying.

[mysql]
host = "your-database-host.com"
port = 3306
database = "bldlegalized_bld"
user = "your-username"
password = "your-password"
